@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

.gradient-text {
  background: linear-gradient(to right, #2ff529, #0288f5); /* Replace with your gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}